EntityData(
	name: "chode",
	components: [
		    (name: "Spawned"),
		    (name: "RenderComponent", properties: [(name: "width", value: "20.0"), (name: "height", value: "20.0"), (name: "colour", value: "Color::RED")]),
		    (name: "HitBox", properties: [(name: "width", value: "20.0"), (name: "height", value: "20.0")]),
	],
)
