Prefab(
    name: "hard_spinner",
    components: [
	(name: "RenderComponent", properties: [
            (name: "radius", value: "12.0"),
            (name: "colour", value: "Color::ORANGE"),
        ]),
	(name: "HitBox", properties: [(name: "radius", value: "12.0")]),
	(name: "SpinnerAI"),
	(name: "PhysicsComponent", properties: [(name: "max_speed", value: "50.0")]),
	(name: "Combative", properties: [(name: "max_hp", value: "2")]),
	(name: "LevelObject"),
	(name: "TeamWrap", properties: [(name: "team", value: "Team::Enemy")]),
	(name: "Asleep"),
    ],
)
