Prefab(
    name: "player",
    components: [
	(name: "RenderComponent", properties: [
            (name: "radius", value: "15.0"),
            (name: "colour", value: "Color::BLUE"),
        ]),
	(name: "HitBox", properties: [(name: "radius", value: "15.0")]),
	(name: "PlayerControls", properties: [(name: "fire_rate", value: "0.7"), (name: "bullet_damage", value:"1")]),
	(name: "PhysicsComponent", properties: [(name: "max_speed", value: "200.0")]),
	(name: "TeamWrap", properties: [(name: "team", value: "Team::Player")]),
	(name: "Combative", properties: [(name: "max_hp", value: "3")]),
    ],
)
