Prefab(
    name: "player",
    components: [
	(name: "RenderComponent", properties: [
            (name: "radius", value: "20.0"),
            (name: "colour", value: "Color::BLUE"),
        ]),
	(name: "HitBox", properties: [(name: "radius", value: "20.0")]),
	(name: "PlayerControls"),
    ],
)
